news/*.txt
google_docs/*.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

snaptrade/.env
snaptrade/python-docs-433001-62f7d270af5b.json
snaptrade/stocks.json
snaptrade/transactions.csv

companies.csv
